
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: rgb(217, 224, 224);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: navy;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: navy;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}
.navigation a:hover{
    color: indigo;     
}

section{
   padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(595415499.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 700;
}

.main h2 span{
    display: inline-block;
    margin-top: 7px;
    color: white;
    font-size: 3em;
    font-weight: 500;
}

.main-btn{
    color: white;
    background-color: rgb(147, 147, 248);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-bottom: 15px;
    margin-bottom: 40px;
    transition: 2 ease;
    border-radius: 20px;
}

.main-btn:hover{
    background-color: rgb(109, 16, 196);
    transform: scale(1.1,1.1);
}

.social-icons a {
    color: white;
    font-size: 1.1em;
    padding-right: 20px;
}

.title {
    display: flex;
    justify-content: center;
    color: navy;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 30px;
}
 
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.ChooseYourComf-card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.ChooseYourComf-card:hover {
    transform: scale(1.1);
}

.ChooseYourComf-card .icon {
    color: #f2e316;
    font-size: 8em;
    text-align: center;
}
.ChooseYourComf {
    background-color: #f3f3f6;
}

.ChooseYourComf.content{
    margin-top: 30px;
}

.ChooseYourComf-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.ChooseYourComf-card:hover {
   transform: scale(1.1);
}

.ChooseYourComf-card:hover .project-image {
    opacity: 0.9;
 }

.ChooseYourComf-image img{
    width: 100%
}

.ChooseYourComf-info {
    padding: 1em;
}

.ChooseYourComf-category {
    font-size: 0.8em;
    color: #000;
}

.ChooseYourComf-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;

.footer{
    background-color: rgb(217, 224, 224);
    color: rgb(177, 158, 211);
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title span{
color: navy;
}

.footer.ocial-icons{
    font-size: 1.3em;
    background-color: rgb(177, 158, 211);
    padding: 0 12px 0 0;
}

